<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#!">Google Books</a>
  <div class="form-inline my-2 my-lg-0">
    <input #bar class="form-control mr-sm-2" placeholder="Find Book..." aria-label="Search" type="text" (keyup.enter)="searchBooks(bar.value)">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchBooks(bar.value)">Search</button>
  </div>
</nav>

<!-- Book -->

<!-- <ul>
  <li  *ngFor="let book of books | async">
    Title: {{ book.volumeInfo.title }}
  </li>
</ul> -->
<div class="container">
  <div class="row">
    <div *ngFor="let book of books | async" class="col-sm-4">
        <div class="card">
          <!-- <img class="card-img-top" [src]="book?.volumeInfo?.imageLinks?.thumbnail+'&zoom=2'" alt="Card image cap"> -->
          <img id="book-image" class="card-img-top" src={{book?.volumeInfo?.imageLinks?.thumbnail+zoom}} >
          <div class="card-body">
            <h5 id="book-title" class="card-title">{{ book.volumeInfo.title }}</h5>
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
            <a  href={{book?.volumeInfo?.infoLink}} class="btn btn-primary" target="_blank">More Info</a>
          </div>
        </div>
    </div>
  </div>
</div>
